@use "../../styles/variables" as *;

.dropdown {
  height: 24px;
}

.toggleButton {
  cursor: pointer;
  border: none;
  background-color: $color-06;
  height: 24px;
  svg {
    pointer-events: none;
  }

  &:hover {
    fill: $color-accent;
  }
}

.menu {
  position: absolute;
  top: 0;
  right: -208px;
  margin-top: 8px;
  padding: 8px;
  gap: 8px;
  background: $color-06;
  border-radius: 12px;
  width: 200px;
  list-style: none;
  z-index: 10;
  box-shadow: 0px 0px 2px 0px #5a5a5a;

  li {
    margin: 0;
  }

  button {
    width: 100%;
    padding: 12px 20px;
    border: none;
    background: none;
    text-align: left;
    font-size: $font-desktop-text2-size;
    font-weight: $font-desktop-text2-weight-medium;
    line-height: 100%;
    letter-spacing: 0%;
    color: $color-01;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: $color-accent;
    }
  }
}

@media (max-width: 376px) {
  .menu {
    width: 160px;

    button {
      font-weight: $font-mobile-text2-weight-medium;
      font-size: $font-mobile-text2-size;
    }
  }
}
