// Colors

$color-06: #fdfdfd;
$color-05: #f4f4f4;
$color-04: #dadada;
$color-03: #9c9c9c;
$color-02: #595959;
$color-01: #161616;

// Accent
$color-accent: #22a0bc;

// Typography

// Desktop
$font-desktop-title-size: 24px;
$font-desktop-title-weight: 600;

$font-desktop-headline-size: 20px;
$font-desktop-headline-weight: 600;

$font-desktop-text1-size: 18px;
$font-desktop-text1-weight-semibold: 600;
$font-desktop-text1-weight-medium: 500;

$font-desktop-text2-size: 16px;
$font-desktop-text2-weight-semibold: 600;
$font-desktop-text2-weight-medium: 500;

$font-desktop-caption-size: 14px;
$font-desktop-caption-weight: 400;

// Mobile
$font-mobile-title1-size: 24px;
$font-mobile-title1-weight: 600;

$font-mobile-headline-size: 18px;
$font-mobile-headline-weight: 600;

$font-mobile-text1-size: 16px;
$font-mobile-text1-weight-semibold: 600;
$font-mobile-text1-weight-medium: 500;

$font-mobile-text2-size: 14px;
$font-mobile-text2-weight-semibold: 600;
$font-mobile-text2-weight-medium: 500;

$font-mobile-caption2-size: 10px;
$font-mobile-caption2-weight: 600;

