@use "../../styles/variables" as *;

.card {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 360px;
  min-height: 168px;
  padding: 24px;
  background: $color-06;
  border-radius: 16px;
}

.avatar {
  width: 112px;
  height: 120px;
  border-radius: 8px;
  object-fit: cover;
  flex-shrink: 0;
}

.wrapper {
  width: 100%;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 120px;
}

.username {
  font-size: $font-desktop-headline-size;
  font-weight: $font-desktop-headline-weight;
  color: $color-accent;
}

.company {
  margin-top: 4px;
  font-size: $font-desktop-text2-size;
  font-weight: $font-desktop-text2-weight-medium;
  color: $color-02;
}

.city {
  margin-top: auto;
  font-size: $font-desktop-caption-size;
  font-weight: $font-desktop-caption-weight;
  color: $color-03;
}

.cardActions {
  display: flex;
  justify-content: flex-end;
  padding: 0 24px 24px;
}

.avatarArchive {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}
.contentArchive {
  .username {
    color: $color-02;
  }

  .company,
  .city {
    color: $color-04;
  }
}
@media (max-width: 376px) {
  .card {
    flex-direction: column;
    width: 162px;
    min-height: 242px;
    gap: 16px;
    border-radius: 16px;
    padding: 16px;
  }

  .wrapper {
    margin-left: 0;
  }

  .avatar {
    width: 130px;
  }

  .content {
    min-height: 74px;
  }
  .username {
    font-size: $font-mobile-headline-size;
    font-weight: $font-mobile-headline-weight;
  }

  .comoany {
    font-size: $font-mobile-text2-size;
    font-weight: $font-mobile-text2-weight-semibold;
  }

  .city {
    font-size: $font-mobile-caption2-size;
    font-weight: $font-mobile-caption2-weight;
  }
}
